#myModal.reveal-modal
  %h2
    Awesome. I have it.
  %p.lead
    Your couch. It is mine.
  %p
    Im a cool paragraph that lives inside of an even cooler modal. Wins.
  %a.close-reveal-modal
    Close!