- @title = "Grid"

.page

  %section#pattern.pattern
    %ul.grid
      %li.tall
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li.wide
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li.wide
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li.tall.wide
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click
      %li
        %div
          %a{ :id => 'buttonForModal', :href => '#', :data => { :reveal_id => 'myModal', :animation => 'fade' } }
            Click